body {
	font-family: 'Open Sans', sans-serif;
}
.fb-profile img.fb-image-lg {
	z-index: 0;
	width: 100%;
	margin-bottom: 10px;
	height: 250px;
}
.fb-image-profile {
	margin: -90px 1120px 0px 600px;
	z-index: 9;
	width: 20%;
	border-radius: 50%;
}
.adamoanna {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	width: 50%;
}
button.dela {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 81px;
	background: #55b9f3;
	box-shadow: -26px -26px 51px #4494c2, 26px 26px 51px #66deff;
}
@media (max-width:768px) {
	.fb-profile-text>h1 {
		font-weight: 700;
		font-size: 16px;
		text-align: center;
	}
	.fb-image-profile {
		margin: -45px 10px 0px 25px;
		z-index: 9;
		width: 20%;
	}
}